**Hello World**

In [ ]:
print('Hello World')

Hello World

**Basic Datatypes**

In [ ]:
a=5
print(a)
print(type(a))
# 5
# <class 'int'>

5
<class 'int'>

In [ ]:
f=1.5
print(f)
print(type(f))
# 1.5
# <class 'float'>

1.5
<class 'float'>

In [ ]:
s="hello"
print(s)
print(type(s))
# hello
# <class 'str'>

hello
<class 'str'>

In [ ]:
b=True
print(b)
print(type(b))
# True
# <class 'bool'>

True
<class 'bool'>

In [ ]:
t=5+3j
print(t)
print(type(t))
# (5+3j)
# <class 'complex'>

**Arithmetic Operators**

In [ ]:
a = 7
b = 3

ab_sum = a + b
print(ab_sum)
# 10

ab_dif = a - b
print(ab_dif)
# 4

ab_pro = a * b
print(ab_pro)
# 21

10
4
21

In [ ]:
ab_quo = a / b
print(ab_quo)
# 2.3333333333333335

ab_iquo = a // b
print(ab_iquo)
# 2

ab_rem = a % b
print(ab_rem)
# 1

ab_pow = a ** b
print(ab_pow)
# 343

2.3333333333333335
2
1
343

**Boolean Operations**

In [ ]:
T=True
F=False

print(T,F)
# True False

p = 5 > 3
print(p)
# True

q = -1 < -12.5
print(q)
# False

True False
True
False

In [ ]:
print(p and q)
# False

print(p or q)
# True

print(not q)
# True

False
True
True

**String Operations**

In [ ]:
s = 'hello'
u = '''hello i am
  suada.i am doing research in
  '''

print(s)
print(u)
# hello
# hello

hello
hello i am
  suada.i am doing research in

In [ ]:
s1 = "python"
s2 = 'world'
s3 = s1 + ' ' + s2
print(s3)
# python world

s3 = '%s %s %d' %(s1, s2, 1011)

s4=(f"{s1} {s2}")
print(s4)
print(s3)
# python world 1011

python world
python world
python world 1011

In [ ]:
print(len(s3))
# 12

print(s3.upper())
# PYTHON WORLD

print(s3.capitalize())
# Python world

print(s3.lower())
# python world

print('hello world how are you'.split(' '))
# ['hello', 'world', 'how', 'are', 'you']

print('book'.replace('o','e'))
# beek

word = 'jewellery'
print(word.find('well'))
print(word.find('is'))
# 2
# -1

17
PYTHON WORLD 1011
Python world 1011
python world 1011
['hell', 'world how are you']
beek
2
-1

In [ ]:
word = 'jewellery'
print(word.find('well'))
print(word.find('is'))
print(word[-1])
print(word[8])
print(word[-2])

2
-1
y
y
r

**Control Structures**

if - else

In [ ]:
number = 123
if number > 99 and number < 1000:
    print('3 digit')
    print("less than 1000")
else:
    print('Not 3 digit')
	
# Enter number : 123
# 3 digit

3 digit
less than 1000

if - elif - else

In [ ]:
response = input('Are you familiar with python : ')

if response.upper() == "YES":
    print("You can skip this course :-|")
elif response.upper() == "NO":
    print("You are at the right place :-)")
else:
    print('Sorry wrong input :-(')
	
# Are you familiar with python : no
# You are at the right place :-)

Are you familiar with python : yes
You can skip this course :-|

Note 

*   Take care of indentation !
*   Don’t forget to put  ‘ : ’ at the end
*   Remember its elif not else if

**Loops**

range() -  function

In [ ]:
print(list(range(10)))
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(list(range(1,10)))
# [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(list(range(1,10,2)))
# [1, 3, 5, 7, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

for - loop

In [ ]:
for x in range(10):
    print(x,end=' ')
	
# 0 1 2 3 4 5 6 7 8 9

0 1 2 3 4 5 6 7 8 9

In [ ]:
limit = int(input('Enter a limit : '))
sum = 0

for i in range(1,limit + 1):
	if i%2 != 0:
		sum += i

print("Odd sum = "+str(sum))

# Enter a limit : 15
# Odd sum = 64

Enter a limit : 10
Odd sum = 25

In [ ]:

number = int(input('Enter number : '))
n = number
s = 0
while number > 0 :
    s += (number%10)**3
    number = number//10
if n == s:
    print("Armstrong")
else:
    print("Not Armstrong")

Enter number : 153
Armstrong

while - loop

In [ ]:
#sum od digits
number = int(input('Enter number : '))
s = 0
while number > 0 :
    s += number%10
    number = number//10
print(s)

# Enter number : 1254
# 12

Enter number : 156897
36

Nested- loop

In [ ]:
# prime number generation

limit = int(input('Enter number : '))
for num in range(2,limit+1):
    is_divisible = False
    k=2
    while k <= num//2 :
        if num % k == 0:
            is_divisible=True
            break;
        k += 1
    if not is_divisible:
        print(num,end=' ')

Enter number : 100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

**Containers**

**List**

In [ ]:
mylist = ['a','b', 1, 1.2, True]
print(mylist)
# ['a', 'b', 1, 1.2, True]

mylist.append('new')
print(mylist)
# ['a', 'b', 1, 1.2, True, 'new']

print(mylist.pop())
# new

mylist.insert(2,'new')
print(mylist)
# ['a', 'b', 'new', 1, 1.2, True]

mylist.remove('new')
print(mylist)
# ['a', 'b', 1, 1.2, True]

In [ ]:
b = [1,2,3]
mylist.append(b)
print(mylist)
# ['a', 'b', 1, 1.2, True, [1, 2, 3]]

mylist.remove(b)
print(mylist)
# ['a', 'b', 1, 1.2, True]

mylist.extend(b)
print(mylist)
# ['a', 'b', 1, 1.2, True, 1, 2, 3]

a = [2,3,1,4,5] 
a.sort()
print(a)
# [1, 2, 3, 4, 5]

print(list('hello'))
# ['h', 'e', 'l', 'l', 'o']

In [ ]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Indexing and Slicing

In [ ]:

print(numbers[1],numbers[-1])
# 2 10

sliced = numbers[5:11]
print(sliced)
# [6, 7, 8, 9, 10]

sliced = numbers[5:]
print(sliced)
# [6, 7, 8, 9, 10]

sliced = numbers[:7]
print(sliced)
# [1, 2, 3, 4, 5, 6, 7]

sliced = numbers[-2:]
print(sliced)
# [9, 10]

NameError: ignored

List - Comprehension

In [2]:
numbers = list(range(1, 8))
print(numbers)
# [1, 2, 3, 4, 5, 6, 7]

square = []
for i in numbers:
    square.append(pow(i,2))
print(square)
# [1, 4, 9, 16, 25, 36, 49]

[1, 2, 3, 4, 5, 6, 7]
[1, 4, 9, 16, 25, 36, 49]

In [ ]:
##List Comprehension
square = [x**2 for x in numbers] 
print(square)
# [1, 4, 9, 16, 25, 36, 49]

In [4]:
##List Comprehension
square = [x**2 for x in numbers if x%2==0] 
print(square)
# [1, 4, 9, 16, 25, 36, 49]

[4, 16, 36]

In [6]:
##List Comprehension
square = [x**2 if x%2==0 else "odd" for x in numbers] 
print(square)
# [1, 4, 9, 16, 25, 36, 49]

['odd', 4, 'odd', 16, 'odd', 36, 'odd']

**Dictionary**

In [ ]:
person = {'name' : 'Manu', 'age': 28}
print(person['name'])
# Manu

print('name' in person)
# True

print('sex' in person)
# False

Manu
True
False

In [ ]:
person['sex'] = 'male'
print(person)
# {'name': 'Manu', 'age': 28, 'sex': 'male'}

{'name': 'Manu', 'age': 28, 'sex': 'male'}

In [ ]:
for item in person:
    print(item,person[item])
# name Manu
# age 28
# sex male

In [ ]:
for (key,value) in person.items():
    print(key.capitalize(),'\t:\t', value)
# Name 	:	 Manu
# Age 	:	 28
# Sex 	:	 male
    
print(person.keys())
# dict_keys(['name', 'age', 'sex'])

Name 	:	 Manu
Age 	:	 28
Sex 	:	 male
dict_keys(['name', 'age', 'sex'])

**Tuple**

In [ ]:
t1 = (1,2,3)
t2 = 4,5,6
print(t1,t2)
# (1, 2, 3) (4, 5, 6)

t3 = t1 +t2
print(t3)
# (1, 2, 3, 4, 5, 6)

lt = tuple(['a','b','c','d'])
print(lt)
# ('a', 'b', 'c', 'd')

In [ ]:

lt[2] = 'x'

# ----> 1 lt[2] = 'x'
# TypeError: 'tuple' object does not support item assignment

**Set**

In [ ]:
s = {1,2,3}
print(s,type(s))
# {1, 2, 3} <class 'set'>

fset = {"apple", "banana", "cherry"}
fset.remove("banana")
print(fset)
# {'apple', 'cherry'}

fset = {"apple", "banana", "cherry"}
fset.discard("banana")
print(fset)
# {'apple', 'cherry’}

fset = {"apple", "banana", "cherry"}
fset.clear()
print(fset)
# set()

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)
# {1, 2, 3, 'b', 'c', 'a'}

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
print(z)
# {'apple’}

lst = [1,2,3,4,5,5,5,7,6]
myset = list(set(lst))
print(myset)
# [1, 2, 3, 4, 5, 6, 7]

**Functions**

In [ ]:
def twice(number):
    return 2*number
t = twice(5)
print(t)
# 10

In [ ]:

def isPrime(number):
    for factor in range(2, (number//2)+1):
        if number%factor == 0:
            return False
    return True

number = int(input('Enter the number '))
print(isPrime(number))
# Enter the number 10
# False

In [ ]:
def printPrimes(llimit, ulimit):
    for num in range(llimit, ulimit + 1):    
        if isPrime(num) == True:
            print(num, end = ' ')

printPrimes(5,50)
# 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
def swap(x,y):
    t = x
    x = y
    y = t
    return x,y

a=5
b=7
a,b = swap(a,b)
print(a,b)
#7 5

In [ ]:
def calculatePayable(p, y = 1, r = 5):
    return p*(1 + r* y/100)

print(calculatePayable(1000))
# 1050.0
print(calculatePayable(1000, y =3))
# 1150.0
print(calculatePayable(1000, r = 10, y=3))
# 1300.0
print(calculatePayable(5000, r = 3))
# 5150.0

**Object Oriented Programming**

Class and Objects

In [ ]:

class Adder:

    #constructor
    def __init__(self): 
        self.__x = 0
        self.__y = 0
    #setter
    def setValues(self, x, y): 
        self.__x = x
        self.__y = y
		
    #self variable name can be anything
    def calculate(self1):
        self1.__sum = self1.__x + self1.__y 
		
    #getter
    def getSum(self): 
        return self.__sum

In [ ]:
adder =  Adder() 
adder.setValues(5,4)
adder.calculate()
print(adder.getSum())
#9

9

## **THANK YOU**

***A lot more to learn, Keep Learning***